﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style type="text/css">.force-wrap { }</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="text-center">
    <h1 class="display-4">Welcome To LTU Course Web Application</h1>
</div>
<div id="courseListCard" class="card border-primary mb-3" style="max-width: 100%;">
    <div class="card-header">
        <h4 class="force-wrap d-flex justify-content-between" for="CourseCatalogHeader" align="Left">Course Catalog</h4>
    </div>
    <div class="card-body force-wrap table-responsive">
        <table class="table table-sm table-borderless table-striped force-wrap">
            <thead>
                <tr>
                    <th align="left"><span>Id</span></th>
                    <th align="left"><span>Course</span></th>
                    <th align="left"><span>Type</span></th>
                    <th align="left"><span>Subject</span></th>
                    <th align="left"><span>Attendees</span></th>
                    <th align="left"><span>Number Completed</span></th>
                    <th align="left"><span>Average Star Rating</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="force-wrap">

                @foreach (var course in Model.Courses)
                {
                    <tr>
                        <td>
                            <span class="force-wrap">
                                @course.Id
                            </span>
                        </td>
                        <td>
                            <span class="force-wrap">
                                @course.Name
                            </span>
                        </td>
                        <td>
                            <span class="force-wrap">
                                @course.Type
                            </span>
                        </td>
                        <td>
                            <span class="force-wrap">
                                @course.Subject
                            </span>
                        </td>
                        <td>
                            <span class="force-wrap">
                                @course.AttendeesNumber
                            </span>
                        </td>
                        <td>
                            <span class="force-wrap">
                                @course.CompletedNumber
                            </span>
                        </td>
                        <td>
                            <span class="force-wrap">
                                @course.AverageStarRating
                            </span>
                        </td>
                        <td>
                            <span class="fa fa-external-link"></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="input-group-append">
    <table id="buttons">
        <tr>
            <td>
                <form method="POST">
                    <button id="getMostPopular" class="btn btn-outline-primary" type="submit" asp-route-data="" asp-page-handler="MostPopular">
                        Most Popular
                    </button>
                </form>
            </td>
            <td>
                &nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <form method="POST">
                    <button id="getMostEffective" class="btn btn-outline-primary" type="submit" asp-route-data="" asp-page-handler="MostEffective">
                        Most Effective
                    </button>
                </form>
            </td>
            <td>
                &nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <form method="POST">
                    <button id="addCourse" class="btn btn-outline-primary" type="submit" asp-route-data="" asp-page-handler="ShowAddCourseCard">
                        Add Course
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>
<div>
    &nbsp;&nbsp;
</div>
@if (Model.ShowMostPopular)
{
    <div>
        <div id="mostPopularCard" class="card border-primary mb-3" style="max-width: 100%;">
            <div class="card-header">
                <h4 class="force-wrap d-flex justify-content-between" for="MostPopularHeader" align="Left">Most Popular Course</h4>
            </div>
            <div class="card-body force-wrap table-responsive">
                <table class="table table-sm table-borderless table-striped force-wrap">
                    <thead>
                        <tr>
                            <th align="left"><span>Id</span></th>
                            <th align="left"><span>Course</span></th>
                            <th align="left"><span>Type</span></th>
                            <th align="left"><span>Subject</span></th>
                            <th align="left"><span>Attendees</span></th>
                            <th align="left"><span>Number Completed</span></th>
                            <th align="left"><span>Average Star Rating</span></th>
                            <th align="left"><span>Popularity</span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="force-wrap">
                        <tr>
                            <td>
                                <span class="force-wrap">
                                    @Model.Course.Id
                                </span>
                            </td>
                            <td>
                                <span class="force-wrap">
                                    @Model.Course.Name
                                </span>
                            </td>
                            <td>
                                <span class="force-wrap">
                                    @Model.Course.Type
                                </span>
                            </td>
                            <td>
                                <span class="force-wrap">
                                    @Model.Course.Subject
                                </span>
                            </td>
                            <td>
                                <span class="force-wrap">
                                    @Model.Course.AttendeesNumber
                                </span>
                            </td>
                            <td>
                                <span class="force-wrap">
                                    @Model.Course.CompletedNumber
                                </span>
                            </td>
                            <td>
                                <span class="force-wrap">
                                    @Model.Course.AverageStarRating
                                </span>
                            </td>
                            <td>
                                <span class="force-wrap">
                                    @Model.Course.Popularity
                                </span>
                            </td>
                            <td>
                                <span class="fa fa-external-link"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@if (Model.ShowMostEffective)
{
    <div>
        <div id="mostEffectiveCard" class="card border-primary mb-3" style="max-width: 100%;">
            <div class="card-header">
                <h4 class="force-wrap d-flex justify-content-between" for="MostEffectiveHeader" align="Left">Most Effective Course</h4>
            </div>
            <div class="card-body force-wrap table-responsive">
                <table class="table table-sm table-borderless table-striped force-wrap">
                    <thead>
                        <tr>
                            <th align="left"><span>Id</span></th>
                            <th align="left"><span>Course</span></th>
                            <th align="left"><span>Type</span></th>
                            <th align="left"><span>Subject</span></th>
                            <th align="left"><span>Number Completed</span></th>
                            <th align="left"><span>Attendees</span></th>
                            <th align="left"><span>Average Star Rating</span></th>
                            <th align="left"><span>Effectiveness</span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="force-wrap">
                        <tr>
                            <td>
                                <span class="force-wrap">
                                    @Model.Course.Id
                                </span>
                            </td>
                            <td>
                                <span class="force-wrap">
                                    @Model.Course.Name
                                </span>
                            </td>
                            <td>
                                <span class="force-wrap">
                                    @Model.Course.Type
                                </span>
                            </td>
                            <td>
                                <span class="force-wrap">
                                    @Model.Course.Subject
                                </span>
                            </td>
                            <td>
                                <span class="force-wrap">
                                    @Model.Course.AttendeesNumber
                                </span>
                            </td>
                            <td>
                                <span class="force-wrap">
                                    @Model.Course.CompletedNumber
                                </span>
                            </td>
                            <td>
                                <span class="force-wrap">
                                    @Model.Course.AverageStarRating
                                </span>
                            </td>
                            <td>
                                <span class="force-wrap">
                                    @Model.Course.Effective
                                </span>
                            </td>
                            <td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@if (Model.ShowAddCourse)
{
        <form method="POST">
            <div class="card border-primary mb-3" style="max-width: 100%;">
                <div class="card-header">
                    <h4 class="force-wrap" align="Left">Add Course</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <table class="table table-sm table-borderless table-striped force-wrap">
                            <tbody>
                                <tr>
                                    <td>
                                        <span><strong>Id</strong></span>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input id="Id"
                                                   name="Id"
                                                   readonly
                                                   type="number"
                                                   value="@Model.NextCourseId"
                                                   asp-for="@Model.Course.Id"
                                                   placeholder="Id"
                                                   style="max-width: 100%" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>Name</strong></span>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input id="Name"
                                                   name="Name"
                                                   type="text"
                                                   asp-for="@Model.Course.Name"
                                                   data-val="true"
                                                   required
                                                   data-val-required="Name is required."
                                                   placeholder="Name"
                                                   style="max-width: 100%" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>Type</strong></span>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input id="Type"
                                                   name="Type"
                                                   type="text"
                                                   asp-for="@Model.Course.Type"
                                                   data-val="true"
                                                   required
                                                   data-val-required="Type is required."
                                                   placeholder="Type"
                                                   style="max-width: 100%" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>Subject</strong></span>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input id="Subject"
                                                   name="Subject"
                                                   type="text"
                                                   asp-for="@Model.Course.Subject"
                                                   data-val="true"
                                                   required
                                                   data-val-required="Subject is required."
                                                   placeholder="Subject"
                                                   style="max-width: 100%" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>Attendees</strong></span>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input id="AttendeesNumber"
                                                   name="AttendeesNumber"
                                                   type="number"
                                                   value=""
                                                   asp-for="@Model.Course.AttendeesNumber"
                                                   data-val="true"
                                                   required
                                                   data-val-required="Attendees Number is required."
                                                   placeholder="Attendees"
                                                   min="0"
                                                   style="max-width: 100%" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>Number Completed</strong></span>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input 
                                                   id="CompletedNumber"
                                                   name="CompletedNumber"
                                                   type="number"
                                                   data-val="true"
                                                   required
                                                   data-val-required="Number Completed is required."
                                                   value=""
                                                   asp-for="@Model.Course.CompletedNumber"
                                                   placeholder="Number Completed"
                                                   min="0"
                                                   style="max-width: 100%" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>Average Star Rating</strong></span>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input id="AverageStarRating"
                                                   name="AverageStarRating"
                                                   type="text"                             
                                                   data-val="true"
                                                   required
                                                   data-val-number="Average Star Rating must be a number."
                                                   data-val-required="Average Star Rating is required."
                                                   value=""
                                                   asp-for="@Model.Course.AverageStarRating"
                                                   placeholder="Average Star Rating"
                                                   onkeypress="return isNumberKey(event)"
                                                   style="max-width: 100%" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button id="btnAddCourse" class="btn btn-outline-primary" type="submit" asp-route-data="" asp-page-handler="AddCourse">
                                            Submit
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
}
<SCRIPT language=Javascript>
       
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</SCRIPT>
